@model IEnumerable<StudentsAffairsDashboard.Models.invoice_payment>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<p>

</p>

@foreach (var item in Model)
{
    Html.RenderAction("DetailsPartial", new { id = item.id });

}

